# Carga de datos a través de la función read_csv

In [69]:
%config IPCompleter.greedy=True

In [11]:
import pandas as pd
import os

In [13]:
mainpath = "/Users/olivialuis/AnacondaProjects/CursoPythonML/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, fullpath)

In [14]:
data = pd.read_csv(fullpath)

In [15]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Ejemplos de los parámetros de la función read_csv

```python
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None)
read.csv(filepath, sep(por defecto la coma)=",", dtype={"a":np.float64, "b":np.int32}) '''Columna a y columna b'''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None) '''Header, los csv suelen tener en la primera fila la cabecera con el nombre de las columnas, especificando header=0, coge la primera fila como cabecera) '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None) '''names: para nombrar las columnas, en caso de que no lo tengan o estén malnombradas, etc '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None) '''skiprows, None o un valor entero (o una lista), si skiprows=12, se saltaría las 12 primeras filas '''
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None) 'index_col, por defecto None, permite etiquetar las filas'
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None, skip_blank_lines=True) 'skip_blank_lines, si True, se salta las filas o valores en blanco, por defecto False'
read.csv(filepath, sep(por defecto la coma)=",", dtype(por defecto ninguno)=None, header=None, names=None, skiprows=None, index_col=None, skip_blank_lines=True, na_filter=False) 'na_filter, elimina toda la fila de algo que es nulo o indefinido si su valor es True, por defecto False'
```

In [16]:
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")

In [17]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [18]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [25]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", header=None, names=data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

### Carga de datos a través de la función open

Función de python, lee el dataset línea a línea. Para hacer cargas manuales de los datos.

In [28]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", "r")

In [29]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [32]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print ("El data set tiene %d filas y %d columnas" % (counter, n_cols))

El data set tiene 3333 filas y 21 columnas

In [35]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

### Lectura y escritura de ficheros

In [36]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [39]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [41]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Leer datos de una URL

In [42]:
medals_url = "http://winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)

In [43]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

### Ejercicio
Ejercicio de carga de un csv usando la librería urllib3

In [78]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
response = r.data

# Decodificamos la respuesta, ya que viene en formato string binario
str_data = response.decode('utf-8')

# Partimos el string para recuperar las líneas
lines = str_data.split("\n")

# La primera línea es la cabecera, la partimos por comas para saber cuántas columnas tendremos
col_names = lines[0].split(",")
n_cols = len(col_names)
counter = 0
main_dict = {}
for col in col_names:
    main_dict[col] = []

for line in lines:
    #Hay que saltarse la primera línea puesto que contiene la cabecera
    if counter > 0:
        values = line.strip().split(",")
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1

print ("El data set tiene %d filas y %d columnas" % (counter, n_cols))
medals_df = pd.DataFrame(main_dict)
medals_df.head()

# Elegimos dónde guardarlo (en la carpeta athletes)
mainpath = "/Users/olivialuis/AnacondaProjects/CursoPythonML/datasets"
filename = "athletes/downloaded-medals-olivia."
fullpath = os.path.join(mainpath, filename)

medals_df.to_csv(fullpath + "csv")
medals_df.to_json(fullpath + "json")
medals_df.to_excel(fullpath + "xls")

El data set tiene 2312 filas y 8 columnas

In [66]:
import csv
cr = csv.reader(response)

### Ficheros XLS y XLSX

In [62]:
mainpath = "/Users/olivialuis/AnacondaProjects/CursoPythonML/datasets"
filename = "titanic/titanic_custom.xls"
fullpath = os.path.join(mainpath, fullpath) #el segundo parámetro es el nombre de la pestaña que estamos importando

In [64]:
titanic2 = pd.read_excel(fullpath, "titanic3");

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'pclass,s'

In [ ]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom.csv")
titanic3.to_json(mainpath + "/titanic/titanic_custom.json")